:root{
    /* Color */
    --red-primari:rgb(214, 4, 4);
    --red-secondary:rgb(255, 123, 123);

}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  html {
    font-size: 62.5%;
    font-family: "Public Sans", sans-serif;
  }
  header{
    width: 100%;
    height: 288px;
    /* background: linear-gradient(0deg, #f9d07d, #cb4558); */
    background:linear-gradient(to top, #ffff, rgb(156, 163, 175), rgb(75, 85, 99));
    color: white;
  }
  .header--title-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

  }
  .header--title-container h1{
    padding-top: 80px;
    font-size: 5rem;
    /* font-weight: bold; */
    font-family: "Zen Tokyo Zoo", system-ui;
    color: black;
  }
  .header--title-container p{
    font-size: 1.7rem;
    margin-top: 70px;  
    color: black;   
  }
  .header--title-container button {
    font-family: inherit;
    font-size: 18px;
    background: linear-gradient(to bottom, #4dc7d9 0%,#66a6ff 100%);
    color: white;
    padding: 0.8em 1.2em;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 25px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  
  .header--title-container button:hover {
    transform: translateY(-3px);
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
  }
  
  .header--title-container button:active {
    transform: scale(0.95);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .header--title-container button span {
    display: block;
    margin-left: 0.4em;
    transition: all 0.3s;
  }
  
 .header--title-container  button svg {
    width: 18px;
    height: 18px;
    fill: white;
    transition: all 0.3s;
  }
  
  .header--title-container button .svg-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    margin-right: 0.5em;
    transition: all 0.3s;
  }
  
  .header--title-container button:hover .svg-wrapper {
    background-color: rgba(255, 255, 255, 0.5);
  }
  
  .header--title-container button:hover svg {
    transform: rotate(45deg);
  }
  
  /* --------------Search Button--------------- */

  .search-button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px ;
    padding-top: 40px;
    border: #000000;
  }
  .inputBox {
    position: relative;
  }
  hr{
    white-space: 80%;
  }
  .inputBox input {
    padding: 15px 20px;
    outline: none;
    background: transparent;
    border-radius: 5px;
    /* color: #fff; */
    border: 1px solid#000000;
    font-size: 1.2rem;
    width: 330px;
  }
  
  .inputBox span {
    position: absolute;
    left: 0;
    padding: 15px 20px;
    pointer-events: none;
    font-size: 1em;
    transition: 0.4s cubic-bezier(0.05, 0.81, 0, 0.93);
    color: #000000;
    letter-spacing: 0.1em;
  }
  
  .inputBox input:focus ~ span,
  .inputBox input:valid ~ span {
    font-size: 1rem;
    transform: translateX(14px) translateY(-7.5px);
    padding: 0 5px;
    border-radius: 2px;
    background: #ffff;
    letter-spacing: 0em;
    /* border: 1px solid#ce6464; */
  }
  
  /* ---------------CARDS---------- */
  .main-card--container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .main-card{
    width: 330px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 30px;
  }

  .main-card-info{
    display: flex;
    margin: 13px;
    line-height: 2rem;
  }
  .main-card-info-date{
    width: 50%;
  }
  .main-card-info-btn{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .main-card-info-btn figure{
    display: flex;
    flex-direction: column;
  }
  .main-card-info-date h3{
    font-size: 1.7rem;
  }
  .main-card-info-date p{
    font-size: 1.3rem;
  }
  .main-card-info-btn button{
    width: 110px;
    margin: 5px;
  }
  .card-info-btn-wts{
    background-color: #25D366;
    border: none;
    padding: 8px;
    border-radius: 8px;
    font-size: 1.5rem;
  }
  .card-info-btn-inf{
    background-color: #c8e2e0;
    border: none;
    border-radius: 8px;
    padding: 8px;
    font-size: 1.5rem;
  }



  .main-card-slider{
    overflow: auto;
    display: flex;
    scroll-snap-type: x mandatory;
    width: 100%;
    margin: 0 auto;
    overscroll-behavior-x: contain;
  }
  
  .main-card-img {
    background: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(7px);
    -webkit-backdrop-filter: blur(7px);
    border-radius: 8px;
    width:  100%;
    height: 240px;
    scroll-snap-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

  }

  .main-card-slider .red{
    background-image: url(./assets/img/61e8f6384298dde0d23836621b0ba262.jpg);
  }
  .main-card-slider .blue{
    background-image: url(./assets/img/81fcb38f689e99e95299ce8964d08c65.jpg);
  }
  .main-card-slider .green{
    background-image: url(./assets/img/88d5d81973825f7deb9b2ec4e3ea7655.jpg);
  }
  
  .title {
    width: 990px;
  }

  /* ----------FOOTER------------- */
  footer {
    background: linear-gradient(to top, rgb(75, 85, 99), rgb(156, 163, 175), #ffff);
    height: 150px;
    display: flex;
    width: 100%;
    /* color: white; */
  }

  .footer-left{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
  .footer-left ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
  .footer-left li{
    margin: 1rem 0;
  }
  .footer-left a{
    text-decoration: none;
    color: #000000;
    font-size: 1.4rem;
  }
  .footer-right{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
  }
  .footer-right{
    font-size: 4.8rem;
    font-family: "Zen Tokyo Zoo", system-ui;
  }